<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Fly Me to the Moon</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
  <header>
    <h1>Fly Me to the Moon</h1>
  </header>
   <%= yield %>
</body>
</html>

<!-- Home
Request a song
Cue the Queue - Edit - Delete
Browse by artist
Browse by song
Browse by genre -->